<div class="d-flex items-center rounded-xl">
    <!-- <cts-avatar class="w-8 h-8" [user]="user"></cts-avatar> -->
    <!-- <span class="d-flex items-center h-8 px-2 text-base w-auto" *ngIf="type === 'email'">{{ user?.properties?.email
        }}</span> -->
    <!-- <span class="flex flex-1 items-center h-8 px-2 text-base w-auto leading-none" *ngIf="type === 'name'">
        {{ user?.id === 'system' ? ('SYSTEM_ADMIN' | translate) : user?.properties?.firstName + " "
        +user?.properties?.lastName }}
    </span> -->
</div>