table {
    width: 100%;
}

.fix-menu {
    height: 27px !important;
    line-height: 0 !important;
}

.title-menu {
    margin-inline-end: 10px;
}
.small{
    width: 10% !important;
}
.medium{
    width: 12% !important;
}
.larg{
    width: 20% !important;
}
.actions{
    text-align: center !important;
}